root = true
# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = false
trim_trailing_whitespace = true

[*.{c,h,cpp,hpp}]
indent_size = 2

# Markdown Files
[*.md]
trim_trailing_whitespace = false
indent_size = 2
